/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent;
}

body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-size: calc(10px + 1vw);
  font-family: 'EuclidCircularAVN-Regular';
  color: #FFF;
  line-height: 1.5;
  background: #FFF;
}

a {
  color: #111111;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
a:hover {
  text-decoration: none;
  color: #ff0070;
}
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-family: 'EuclidCircularAVN-Regular';
  margin: 0px 0px 0.5rem 0px;
}

p {
  margin-bottom: 22px;
}
p:last-child {
  margin-bottom: 0px;
}

input[type=submit] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@font-face {
  font-family: 'EuclidCircularAVN-Regular';
  src: url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.woff2) format("woff2"),
   url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.eot) format("eot"),
    url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.ttf) format("ttf"),
     url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.woff) format("woff"); }
@font-face {
  font-family: 'EuclidCircularAVN-Bold';
  src: url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.woff2) format("woff2"),
   url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.eot) format("eot"),
    url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.ttf) format("ttf"),
     url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.woff) format("woff"); }
@font-face {
  font-family: 'EuclidCircularAVN-Light';
  src: url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.woff2) format("woff2"),
   url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.eot) format("eot"),
    url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.ttf) format("ttf"),
     url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.woff) format("woff"); }
@font-face {
  font-family: '1FTVDesignerRegular';
  src: url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.woff2) format("woff2"),
   url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.eot) format("eot"),
    url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.ttf) format("ttf"),
     url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.woff) format("woff"); }
@font-face {
  font-family: 'NeulisSans-Regular';
  src: url(../fonts/NeulisSans-Regular/NeulisSans-Regular.woff2) format("woff2"),
   url(../fonts/NeulisSans-Regular/NeulisSans-Regular.eot) format("eot"),
    url(../fonts/NeulisSans-Regular/NeulisSans-Regular.ttf) format("ttf"),
     url(../fonts/NeulisSans-Regular/NeulisSans-Regular.woff) format("woff"); }
@font-face {
  font-family: 'NeulisSans-Black';
  src: url(../fonts/NeulisSans-Black/NeulisSans-Black.woff2) format("woff2"),
   url(../fonts/NeulisSans-Black/NeulisSans-Black.eot) format("eot"),
    url(../fonts/NeulisSans-Black/NeulisSans-Black.ttf) format("ttf"),
     url(../fonts/NeulisSans-Black/NeulisSans-Black.woff) format("woff"); }
@font-face {
  font-family: 'Druk-Medium';
  src: url(../fonts/Druk-Medium/Druk-Medium.woff2) format("woff2"),
   url(../fonts/Druk-Medium/Druk-Medium.eot) format("eot"),
    url(../fonts/Druk-Medium/Druk-Medium.ttf) format("ttf"),
     url(../fonts/Druk-Medium/Druk-Medium.woff) format("woff"); }
     @font-face {
  font-family: 'DrukWide-Bold';
  src: url(../fonts/DrukWide-Bold/DrukWide-Bold.woff2) format("woff2"),
   url(../fonts/DrukWide-Bold/DrukWide-Bold.eot) format("eot"),
    url(../fonts/DrukWide-Bold/DrukWide-Bold.ttf) format("ttf"),
     url(../fonts/DrukWide-Bold/DrukWide-Bold.woff) format("woff"); }
     @font-face {
  font-family: 'HeadingNowTrial-66Bold';
  src: url(../fonts/HeadingNowTrial-66Bold/HeadingNowTrial-66Bold.woff2) format("woff2"),
   url(../fonts/HeadingNowTrial-66Bold/HeadingNowTrial-66Bold.eot) format("eot"),
    url(../fonts/HeadingNowTrial-66Bold/HeadingNowTrial-66Bold.ttf) format("ttf"),
     url(../fonts/HeadingNowTrial-66Bold/HeadingNowTrial-66Bold.woff) format("woff"); }
img{
  width: 100%;
}

.page-main{
  position: relative;
}
.md-title-1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15.8%;
  width: 75.5%;
}
.md-sp-1{
      position: absolute;
    left: 43.5%;
    top: 23.3%;
    width: 16%;
}
.md-text-1{
  position: absolute;
  left: 0%;
  top: 35.1%;
  text-align: center;
  width: 100%;
  font-family: 'EuclidCircularAVN-Bold';
  font-size: calc(20px + 2vw);
}
.md-btn{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  top: 36%;
}
.md-btn a{
  
  float: left;
  text-align: center;
  transition-duration: 0.3s;
  display: inline-block;
  width: 33%;
  position: relative;
  animation: md-btn 3s infinite;
}
@keyframes md-btn{
  0%{
    transform: scale(1.0);
  }
  10%{
    transform: scale(1.1);
  }
  20%{
    transform: scale(1.0);
  }
  30%{
    transform: scale(1.1);
  }
  40%{
    transform: scale(1.0);
  }
  50%{
    transform: scale(1.1);
  }
  60%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(1.0);
  }
}
.md-btn a:hover{
  animation: none;
}
.md-btn a span{
  position: absolute;
    right: 17%;
    top: 27%;
    color: #FFF;
    font-family: 'DrukWide-Bold';
    font-size: calc(25px + 2vw);
    text-shadow: -2px 2px 10px #333;
    text-shadow: -1.5px -1.5px 0 #e2668d, 1.5px 1.5px 0 #e2668d;
    display: inline-block;
    transform: rotate(13deg);
}

.md-title-2{
  top: 38.5%;
  width: 79%;
}
.md-title-2 p{
  text-align: center;
   font-family: 'EuclidCircularAVN-Bold';
   text-shadow: 0px 5px 10px #333;
   font-size: calc(20px + 2vw);
   margin-top: -8%;
   margin-bottom: 0px;
}
.md-title-2 .md-img{
  width: 50%;
  display: table;
  margin: 0 auto;
}
.md-title-2 span{
  font-family: 'EuclidCircularAVN-Bold';
  text-align: center;
  display: block;
}
.md-row{
  position: absolute;
  left: 0;
  top: 74%;
  width: 100%;
  padding: 0% 5%;
}
.md-row .md-col{
  float: left;
  width: 32%;
  margin-right: 1%;
  text-align: center;
  padding: 3%;
  background: #ff9ad3;
  border: 5px solid #FFF;
  border-radius: 20px;
}
.md-row .md-col .img-col-1{
  margin-bottom: 15px;
}
.md-row .md-col .img-col-2{
  margin-bottom: 25px;
}
.md-row .md-col p{
  color: #000;
  font-size: calc(6px + 1vw);
}
.md-row .md-col a img:hover{
  transform: scale(1.1);
  transition-duration: 0.3s;
}
.md-dk{
  
   position: absolute;
    left: 42%;
    top: 96%;
    text-align: center;
}
.md-dk a{
  font-family: 'EuclidCircularAVN-Light';
  display: block;
  font-weight: 300;
  color: #FFF;
  text-decoration: underline;
}
.md-dk p{
    font-family: 'HeadingNowTrial-66Bold';
    text-transform: uppercase;
    margin-bottom: 0px;
}
.md-popup-1{
  display: none;
}

.md-popup-1{
  width: 30%;
  padding: 2%;
  background: transparent;
  border-radius: 20px;
}
.md-popup-1 .img-content{
  position: relative;
}
.md-popup-1 .img-sp{
  position: absolute;
  left: 41%;
    top: 1%;
    width: 24.8%;
}
.md-popup-1 .img-title{
  width: 80%;
  display: table;
  margin: 0 auto 10px auto;
}
.md-popup-1 .img-cost{
  width: 30%;
  display: table;
  margin: 0 auto 20px auto;
  position: relative;
}
.md-popup-1 .img-cost span{
  position: absolute;
    right: 5%;
    top: 13%;
    color: #FFF;
    font-family: 'DrukWide-Bold';
    font-size: calc(4px + 1vw);
    text-shadow: -2px 2px 10px #333;
    text-shadow: -1.5px -1.5px 0 #e2668d, 1.5px 1.5px 0 #e2668d;
}
.md-popup-1 a{
  text-transform: uppercase;
  color: #FFF;
  font-family: 'EuclidCircularAVN-Bold';
  background: #00a7f9;
  padding: 6px 15px 3px 15px;
  border-radius: 50px;
  text-shadow: -2px 2px 5px #000;
  line-height: 1;
  font-size: calc(6px + 1vw);
  display: table;
  margin: 0 auto;
}
.md-popup-2 a{
  background: #ff3493;
}
.md-popup-2 .img-sp{
  position: absolute;
    left: 37%;
    top: -1%;
    width: 35.8%;
}
.md-popup-3{
  padding: 0px;
}
.md-popup-3 p{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  top: 40%;
  font-size: calc(4px + 0.7vw);
  margin-bottom: 0px;
  width: 70%;
  font-family: 'EuclidCircularAVN-Bold';
}
.fancybox-bg{
  background: #000;
}
@media screen and (max-width: 1800px){
  .md-btn a span{
    top: 24%;
  }
}
@media screen and (max-width: 1500px){
  .md-btn a span{
    font-size: calc(20px + 2vw);
  }
}
@media screen and (max-width: 900px){
  .md-btn a span{
    font-size: calc(10px + 2vw);
    top: 27%;
  }
}
@media screen and (max-width: 767px){
  .md-btn a span{
    font-size: calc(6px + 2vw);
    top: 27%;
  }
  .md-btn{
    top: 36.7%;
  }
  .md-row .md-col p{
    margin-bottom: 10px;
  }
  .md-row .md-col .img-col-2{
    margin-bottom: 10px;
  }
  .md-dk{
    top: 95.8%;
    left: 44%;
  }
  .md-dk p{
    font-size: calc(6px + 1vw);
  }
  .md-dk a{
    font-size: calc(6px + 1vw);
  }
  .md-text-1{
    font-size: calc(15px + 2vw);
  }
  .md-title-2 p{
    font-size: calc(15px + 2vw);
  }
}
@media screen and (min-width: 2500px){
  .md-btn a span{
    font-size: calc(30px + 2vw);
  }
  .md-row .md-col p{
    font-size: calc(10px + 1.5vw);
  }
  .md-popup-1 .img-cost span{
    font-size: calc(8px + 1vw);
  }
}



@media screen and (max-width: 767px){
  .md-popup-1{
    width: 80%;
  }
  .md-popup-3 p{
    font-size: calc(8px + 1vw);
  }
  .md-popup-1 a{
    font-size: calc(15px + 1vw);
  }
  .md-popup-1 .img-cost span{
    font-size: calc(8px + 2vw);
  }
}