/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent;
}

body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-size: calc(10px + 1vw);
  font-family: 'EuclidCircularAVN-Regular';
  color: #FFF;
  line-height: 1.5;
  background: #FFF;
}

a {
  color: #111111;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-family: 'EuclidCircularAVN-Regular';
  margin: 0px 0px 0.5rem 0px;
}

p {
  margin-bottom: 22px;
}
p:last-child {
  margin-bottom: 0px;
}

input[type=submit] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@font-face {
  font-family: 'EuclidCircularAVN-Regular';
  src: url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.woff2) format("woff2"),
   url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.eot) format("eot"),
    url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.ttf) format("ttf"),
     url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.woff) format("woff"); }
@font-face {
  font-family: 'EuclidCircularAVN-Bold';
  src: url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.woff2) format("woff2"),
   url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.eot) format("eot"),
    url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.ttf) format("ttf"),
     url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.woff) format("woff"); }
@font-face {
  font-family: 'EuclidCircularAVN-Light';
  src: url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.woff2) format("woff2"),
   url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.eot) format("eot"),
    url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.ttf) format("ttf"),
     url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.woff) format("woff"); }
@font-face {
  font-family: '1FTVDesignerRegular';
  src: url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.woff2) format("woff2"),
   url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.eot) format("eot"),
    url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.ttf) format("ttf"),
     url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.woff) format("woff"); }
@font-face {
  font-family: 'NeulisSans-Regular';
  src: url(../fonts/NeulisSans-Regular/NeulisSans-Regular.woff2) format("woff2"),
   url(../fonts/NeulisSans-Regular/NeulisSans-Regular.eot) format("eot"),
    url(../fonts/NeulisSans-Regular/NeulisSans-Regular.ttf) format("ttf"),
     url(../fonts/NeulisSans-Regular/NeulisSans-Regular.woff) format("woff"); }
@font-face {
  font-family: 'NeulisSans-Black';
  src: url(../fonts/NeulisSans-Black/NeulisSans-Black.woff2) format("woff2"),
   url(../fonts/NeulisSans-Black/NeulisSans-Black.eot) format("eot"),
    url(../fonts/NeulisSans-Black/NeulisSans-Black.ttf) format("ttf"),
     url(../fonts/NeulisSans-Black/NeulisSans-Black.woff) format("woff"); }
@font-face {
  font-family: 'Druk-Medium';
  src: url(../fonts/Druk-Medium/Druk-Medium.woff2) format("woff2"),
   url(../fonts/Druk-Medium/Druk-Medium.eot) format("eot"),
    url(../fonts/Druk-Medium/Druk-Medium.ttf) format("ttf"),
     url(../fonts/Druk-Medium/Druk-Medium.woff) format("woff"); }
     @font-face {
  font-family: 'DrukWide-Bold';
  src: url(../fonts/DrukWide-Bold/DrukWide-Bold.woff2) format("woff2"),
   url(../fonts/DrukWide-Bold/DrukWide-Bold.eot) format("eot"),
    url(../fonts/DrukWide-Bold/DrukWide-Bold.ttf) format("ttf"),
     url(../fonts/DrukWide-Bold/DrukWide-Bold.woff) format("woff"); }
     @font-face {
  font-family: 'HeadingNowTrial-66Bold';
  src: url(../fonts/HeadingNowTrial-66Bold/HeadingNowTrial-66Bold.woff2) format("woff2"),
   url(../fonts/HeadingNowTrial-66Bold/HeadingNowTrial-66Bold.eot) format("eot"),
    url(../fonts/HeadingNowTrial-66Bold/HeadingNowTrial-66Bold.ttf) format("ttf"),
     url(../fonts/HeadingNowTrial-66Bold/HeadingNowTrial-66Bold.woff) format("woff"); }
      @font-face {
  font-family: 'SVN-DrukWide-Bold';
  src: url(../fonts/SVN-DrukWide-Bold/SVN-DrukWide-Bold.woff2) format("woff2"),
   url(../fonts/SVN-DrukWide-Bold/SVN-DrukWide-Bold.eot) format("eot"),
    url(../fonts/SVN-DrukWide-Bold/SVN-DrukWide-Bold.ttf) format("ttf"),
     url(../fonts/SVN-DrukWide-Bold/SVN-DrukWide-Bold.woff) format("woff"); }

img{
  width: 100%;
}

.page-main{
  position: relative;
}
.img-hd-1{
  position: absolute;
  left: 4.1%;
  top: 5.2%;
  width: 56%;
}
.img-hd-2{
  position: absolute;
  left: 11%;
    top: 12.6%;
    width: 45.7%;
}
.img-hd-3{
  position: absolute;
  left: 32%;
    top: 38.2%;
    width: 37%;
}
.img-hd-4{
  position: absolute;
  left: 10%;
    top: 73.5%;
    width: 80%;
}
.img-hd-5{
  position: absolute;
  left: 14%;
    top: 45.4%;
    width: 17%;
}
.img-hd-6{
  position: absolute;
  left: 69.2%;
    top: 45.4%;
    width: 18%;
}
.img-hd-7{
  position: absolute;
      left: 32%;
    top: 48.4%;
    width: 37.7%
}
.bg-title{
  position: absolute;
  left: 17%;
  top: 20.5%;
  width: 67%;
}
.bg-title p{
  position: absolute;
  left: 50%;
  bottom: 13%;
  transform: translateX(-50%);
  font-family: 'SVN-DrukWide-Bold';
  font-size: calc(8px + 2vw);
  text-align: center;
  line-height: 1.2;
  color: #FFF;
  width: 100%;
}

.bg-button-1{
  position: absolute;
  left: 8%;
  top: 31%;
  width: 23%;
}
.bg-button-1 .md-button-1{
  position: relative;
  margin-bottom: 15px;
  animation: md-btn 3s infinite;
  animation-delay: 1s
}
@keyframes md-btn{
  0%{
    transform: scale(1.0);
  }
  10%{
    transform: scale(1.1);
  }
  20%{
    transform: scale(1.0);
  }
  30%{
    transform: scale(1.1);
  }
  40%{
    transform: scale(1.0);
  }
  50%{
    transform: scale(1.1);
  }
  60%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(1.0);
  }
}
.bg-button-1 p{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: calc(10px + 2vw);
  color: #FFF;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-family: 'SVN-DrukWide-Bold';
}
.bg-button-2{
  position: absolute;
      right: 27%;
    top: 35.8%;
    width: 18%;
    animation: md-btn 3s infinite;
    ;
}
.bg-button-2 p{
  position: absolute;
  left: 20%;
  top: 25%;
  transform: rotate(10deg);
  font-family: 'SVN-DrukWide-Bold';
  font-size: calc(10px + 2vw);

}
.md-slider{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 77%;
  width: 80%;
}
.md-slider .md-img-1{
  position: relative;
}
.md-slider .img-item{
  position: relative;
  z-index: 2;
}
.md-slider a{
  position: relative;
  z-index: 3;
  background: #000;
  color: #FFF;
  border-radius: 20px;
  padding: 7px 10px 5px;
  position: absolute;
  left: 43%;
  transform: translateX(-50%);
  bottom: 11%;
  line-height: 1;
}
.md-slider p{
  text-align: center;
}
.md-dk{
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}
.md-dk .dk-text-2{
  color: #FFF;
  text-decoration: underline;
  font-size: calc(6px + 1vw);

}
.md-dk .dk-text-1{
  font-family: 'EuclidCircularAVN-Bold';
  margin-bottom: 0px;
  line-height: 0.8;
  display: block;
  color: #FFF;
}

.md-popup-1{
  display: none;
  width: 40%;
  background: transparent;
  padding: 0px;
}
.fancybox-is-open .fancybox-bg{
  opacity: 0.8;
}
.md-popup-1 .popup-sp-1{
  position: absolute;
    left: 45%;
    bottom: 25%;
    width: 9%;
}
.md-popup-1 .popup-sp-2{
  position: absolute;
    left: 34%;
    bottom: 25%;
    width: 28%;
}
.md-popup-1 .popup-sp-3{
  position: absolute;
    left: 34%;
    bottom: 25%;
    width: 28%;
}
.md-popup-1 .popup-sp-4{
  position: absolute;
    left: 34%;
    bottom: 25%;
    width: 28%;
}
.md-popup-1 .popup-sp-5{
  position: absolute;
    left: 34%;
    bottom: 25%;
    width: 28%;
}

.md-popup-1 a{
      position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 68%;
    top: 16%;
    height: 8%;
}
.md-popup-3 .md-content{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 32%;
  width: 70%;
}
.md-popup-3 .md-content p{
  margin-bottom: 0px;
  font-size: calc(4px + 0.3vw);
  color: #000;
}
@media screen and (min-width: 1599px){
  .md-popup-3 .md-content p{
    font-size: calc(5px + 0.3vw);
  }
}
@media screen and (min-width: 2500px){
  .md-popup-3 .md-content p{
    font-size: calc(8px + 0.3vw);
  }
}
@media screen and (max-width: 767px){
  .md-popup-1{
    width: 100%;
  }
  .md-popup-3 .md-content{
    top: 30%;
    overflow-y: scroll;
    height: 160px;

  }
  .md-popup-3 .md-content::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
  } 
  .md-popup-3 .md-content p{
    font-size: calc(6px + 1vw);
    padding-right: 10px;
  }
  .bg-title p{
    font-size: calc(6px + 1vw);
  }
  .bg-button-1 p{
    font-size: calc(8px + 1vw);
  }
  .bg-button-2 p{
    font-size: calc(8px + 1vw);
  }
  .md-slider a{
    font-size: calc(2px + 1vw);
    padding: 3px 10px 5px;
    bottom: 8%;
  }
  .md-slider p{
    font-size: calc(6px + 1vw);
  }
}
.sp-1{
  position: absolute;
    left: 42.5%;
    bottom: 64%;
    width: 11%;
}
.sp-2{
  position: absolute;
  left: 31.5%;
      bottom: 64%;
      width: 34%;
}
.sp-3{
    position: absolute;
    left: 32.5%;
    bottom: 64%;
    width: 36%;
}
.sp-4{
  position: absolute;
    left: 33.5%;
    bottom: 63.5%;
    width: 37%;
}
.sp-5{
  position: absolute;
    left: 37%;
    bottom: 64%;
    width: 21%;
}