/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent;
}

body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-size: calc(10px + 1vw);
  font-family: 'EuclidCircularAVN-Regular';
  color: #FFF;
  line-height: 1.5;
  background: #FFF;
}

a {
  color: #111111;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-family: 'EuclidCircularAVN-Regular';
  margin: 0px 0px 0.5rem 0px;
}

p {
  margin-bottom: 22px;
}
p:last-child {
  margin-bottom: 0px;
}

input[type=submit] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@font-face {
  font-family: 'EuclidCircularAVN-Regular';
  src: url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.woff2) format("woff2"),
   url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.eot) format("eot"),
    url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.ttf) format("ttf"),
     url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.woff) format("woff"); }
@font-face {
  font-family: 'EuclidCircularAVN-Bold';
  src: url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.woff2) format("woff2"),
   url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.eot) format("eot"),
    url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.ttf) format("ttf"),
     url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.woff) format("woff"); }
@font-face {
  font-family: 'EuclidCircularAVN-Light';
  src: url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.woff2) format("woff2"),
   url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.eot) format("eot"),
    url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.ttf) format("ttf"),
     url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.woff) format("woff"); }
@font-face {
  font-family: '1FTVDesignerRegular';
  src: url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.woff2) format("woff2"),
   url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.eot) format("eot"),
    url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.ttf) format("ttf"),
     url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.woff) format("woff"); }
@font-face {
  font-family: 'NeulisSans-Regular';
  src: url(../fonts/NeulisSans-Regular/NeulisSans-Regular.woff2) format("woff2"),
   url(../fonts/NeulisSans-Regular/NeulisSans-Regular.eot) format("eot"),
    url(../fonts/NeulisSans-Regular/NeulisSans-Regular.ttf) format("ttf"),
     url(../fonts/NeulisSans-Regular/NeulisSans-Regular.woff) format("woff"); }
@font-face {
  font-family: 'NeulisSans-Black';
  src: url(../fonts/NeulisSans-Black/NeulisSans-Black.woff2) format("woff2"),
   url(../fonts/NeulisSans-Black/NeulisSans-Black.eot) format("eot"),
    url(../fonts/NeulisSans-Black/NeulisSans-Black.ttf) format("ttf"),
     url(../fonts/NeulisSans-Black/NeulisSans-Black.woff) format("woff"); }
@font-face {
  font-family: 'Druk-Medium';
  src: url(../fonts/Druk-Medium/Druk-Medium.woff2) format("woff2"),
   url(../fonts/Druk-Medium/Druk-Medium.eot) format("eot"),
    url(../fonts/Druk-Medium/Druk-Medium.ttf) format("ttf"),
     url(../fonts/Druk-Medium/Druk-Medium.woff) format("woff"); }
     @font-face {
  font-family: 'DrukWide-Bold';
  src: url(../fonts/DrukWide-Bold/DrukWide-Bold.woff2) format("woff2"),
   url(../fonts/DrukWide-Bold/DrukWide-Bold.eot) format("eot"),
    url(../fonts/DrukWide-Bold/DrukWide-Bold.ttf) format("ttf"),
     url(../fonts/DrukWide-Bold/DrukWide-Bold.woff) format("woff"); }
     @font-face {
  font-family: 'HeadingNowTrial-66Bold';
  src: url(../fonts/HeadingNowTrial-66Bold/HeadingNowTrial-66Bold.woff2) format("woff2"),
   url(../fonts/HeadingNowTrial-66Bold/HeadingNowTrial-66Bold.eot) format("eot"),
    url(../fonts/HeadingNowTrial-66Bold/HeadingNowTrial-66Bold.ttf) format("ttf"),
     url(../fonts/HeadingNowTrial-66Bold/HeadingNowTrial-66Bold.woff) format("woff"); }
img{
  width: 100%;
}

.page-main{
  position: relative;
}
.bg-title{
  position: absolute;
  left: 50%;
  top: 20.5%;
  transform: translateX(-50%);
  width: 67%;
}
.bg-title p{
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  font-family: 'DrukWide-Bold';
  text-align: center;
}
.md-item{
  position: absolute;
    left: 42.5%;
    top: 24.6%;
    width: 11.4%;
}
.bg-button-1{
  position: absolute;
  left: 8%;
  top: 31%;
  width: 23%;
}
.bg-button-1 .md-button-1{
  position: relative;
  margin-bottom: 20px;
}
.bg-button-1 p{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.bg-button-2{
  position: absolute;
      right: 27%;
    top: 35.8%;
    width: 18%;
}
.bg-button-2 p{
  position: absolute;
  left: 5%;
  top: 5%;
  transform: rotate(15deg);
}

.md-popup-1{
  display: none;
}